<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="mw-footer-275">
    <div class="mw-container">
        <!-- Logo Group -->
        <div class="mw-logo-group">

            <div class="mw-partner-logos">
            <a aria-label="go back to home" class="mw-logo" >
                <img class="mw-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/anark.svg" alt="logo" width="140" height="28">
            </a>    

            <a aria-label="go back to home" class="mw-logo" >
                <img class="mw-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tpw.svg" alt="logo" width="140" height="28">
            </a>

            <a aria-label="go back to home" class="mw-logo" >
                <img class="mw-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/grs.svg" alt="logo" width="140" height="28">
            </a>

            <a aria-label="go back to home" class="mw-logo" >
                <img class="mw-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/srr.svg" alt="logo" width="140" height="28">
            </a>

            </div>
            <p class="mw-text">
                N.C.C. it’s a site of resistance and possibility. Join us in sustaining this space and the livelihoods relying on it. Every donation helps.
            </p>
            <!-- <div class="mw-social">
                 <a class="mw-social-link" aria-label="visit google profile" href="{{ client.address.mapLink }}" target="_blank" rel="noopener">
                    <img class="mw-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="google" width="11" height="11">
                </a>
                <a class="mw-social-link" aria-label="visit facebook profile" href="{{ client.socials.facebook }}" target="_blank" rel="noopener">
                    <img class="mw-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/facebook.svg" alt="facebook" width="6" height="11">
                </a>
                <a class="mw-social-link" aria-label="visit instagram profile" href="{{ client.socials.instagram }}" target="_blank" rel="noopener">
                    <img class="mw-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
                </a>
                <a class="mw-social-link" aria-label="visit instagram profile" href="{{ client.socials.xcorp }}" target="_blank" rel="noopener">
                    <img class="mw-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
                </a>
            </div> -->
        </div>
        <!-- Links -->
        <ul class="mw-nav">
            <li class="mw-nav-li">
                <span class="mw-header">Quick Links</span>
            </li>
            <li class="mw-nav-li">
                <a class="mw-nav-link" href="/">Home</a>
            </li>
            <li class="mw-nav-li">
                <a class="mw-nav-link" href="/#what-we-do">Mission</a>
            </li>
            <li class="mw-nav-li">
                <a class="mw-nav-link" href="/#about-ncc">About Us</a>
            </li>
           
        </ul>
        <ul class="mw-nav">
            <li class="mw-nav-li">
                <span class="mw-header">Resources</span>
            </li>
            <li class="mw-nav-li">
                <a class="mw-nav-link" href="https://ntirhisano167861317.wordpress.com/">Update & News</a>
            </li>
            <li class="mw-nav-li">
                <a class="mw-nav-link" href="/contact/#contact-form">Join Us</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="mw-contact">
            <li class="mw-nav-li">
                <span class="mw-header">Contact</span>
            </li>
            <li class="mw-contact-li">
                <a class="mw-contact-link mw-address" href="{{ client.address.mapLink }}" target="_blank" rel="noopener">
                    {{ client.address.lineOne }}, <br>
                    {{ client.address.lineTwo }}, <br>
                    {{ client.address.city }}, {{ client.address.state }}
                    {{ client.address.zip }}
                </a>
            </li>
            <!-- <li class="mw-contact-li">
                <a class="mw-contact-link" href="tel:{{ client.phoneForTel }}">{{ client.phoneFormatted }}</a>
            </li>
            <li class="mw-contact-li">
                <a class="mw-contact-link" href="mailto:{{ client.email }}">{{ client.email }}</a>
            </li> -->
            <!-- <li class="mw-contact-li">
                <a class="mw-social-link" aria-label="visit instagram profile" href="{{ client.socials.xcorp }}" target="_blank" rel="noopener">
                    <img class="mw-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
                </a>
            </li>
            <li class="mw-contact-li">
                <a class="mw-social-link" aria-label="visit facebook profile" href="{{ client.socials.facebook }}" target="_blank" rel="noopener">
                    <img class="mw-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/facebook.svg" alt="facebook" width="6" height="11">
                </a>
            </li> -->

           <div class="mw-social">
                 <a class="mw-social-link" aria-label="visit google profile" href="{{ client.address.mapLink }}" target="_blank" rel="noopener">
                    <img class="mw-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="google" width="11" height="11">
                </a>
                <a class="mw-social-link" aria-label="visit facebook profile" href="https://www.facebook.com/profile.php?id=100083349021184" target="_blank" rel="noopener">
                    <img class="mw-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/facebook.svg" alt="facebook" width="6" height="11">
                </a>
                <a class="mw-social-link" aria-label="visit instagram profile" href="https://www.instagram.com/ntirhisanocc/" target="_blank" rel="noopener">
                    <img class="mw-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
                </a>
                <a class="mw-social-link" aria-label="visit instagram profile" href="{{ client.socials.xcorp }}" target="_blank" rel="noopener">
                    <img class="mw-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
                </a>
            </div> 
        </ul>
    </div>
    <div class="mw-bottom">
        <span class="mw-credit">
            <span class="mw-copyright">&copy; 2025 Ntirhisano Community Centre. All rights reserved. Powered By <span id="copyright-year"></span>  <a class="mw-copyright-link" href="https://milkwoodwebdesigns.co.za">Milkwood</a></span>
        </span>
    </div>
</footer>