---
title: "Get Involved | NCC"
description: "How to Get involved with NCC"
permalink: "/get-involved/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/gosp-content-2.webp" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/gosp-content-3.webp" | resize({ width: 576, height: 640 }) | avif %}"/>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="mw-container">
            <span class="mw-int-title">Get Involved</span>
            <div class="mw-breadcrumbs">
                <a href="/" class="mw-link">Home</a>
                <a href="/get-involved/" class="mw-link mw-active">Get Involved</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="mw-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gosp-content-2.webp" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gosp-content-2.webp" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gosp-content-2.webp" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-2.webp" | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-2.webp" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-2.webp" | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-2.webp" | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-2.webp" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-2.webp" | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/gosp-content-2.webp" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="kids-playing" width="1920" height="482" loading="eager" decoding="async">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="mw-contact-265">
        <div class="mw-container" id="contact-form">
            <div class="mw-left-section">
                <div class="mw-content">
                    <span class="mw-topper">Contact Us</span>
                    <h2 class="mw-title">Get In Touch</h2>
                    <p class="mw-text">
                        Stand with the community and help protect Spencer Road Park by signing the petition.
                    </p>
                </div>
                <div class="mw-form-wrapper">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdHkke4ZWsnbhkop3KXMKRI3nK6oi10kyv70feM6xBQm39LwA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
            </div>
            <div class="mw-right-section">
                <!--Email-->
                <span class="mw-header">Email</span>
                <a class="mw-link" href="mailto:{{ client.email }}">{{ client.email }}</a>
                <!--Phone-->
                <span class="mw-header">Phone</span>
                <a class="mw-link" href="tel:{{ client.phoneForTel }}">{{ client.phoneFormatted }}</a>
                <!--Address-->
                <span class="mw-header">Address</span>
                <a class="mw-link" href="{{ client.address.mapLink }}">
                    {{ client.address.lineOne }}, <br>
                    {{ client.address.lineTwo }}, <br>
                    {{ client.address.city }}, {{ client.address.state }}
                    {{ client.address.zip }}
                </a>
                <!-- Background Image-->
                <picture class="mw-bg-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gosp-content-3.webp" | resize({ width: 576, height: 640 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gosp-content-3.webp" | resize({ width: 576, height: 640 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gosp-content-3.webp" | resize({ width: 576, height: 640 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-3.webp" | resize({ width: 820, height: 1372 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-3.webp" | resize({ width: 820, height: 1372 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-3.webp" | resize({ width: 820, height: 1372 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-3.webp" | resize({ width: 1084, height: 1156 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-3.webp" | resize({ width: 1084, height: 1156 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gosp-content-3.webp" | resize({ width: 1084, height: 1156 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/gosp-content-3.webp" | resize({ width: 1084, height: 1156 }) | jpeg %}" alt="kids-playing" width="542" height="578" decoding="async">
                </picture>
            </div>
        </div>
    </section>

    

{% endblock %}