---
title: "Ntirhisano Community Centre"
description: "N.C.C. is a grassroots community centre supporting marginalised communities through art, education, and political organising. Help us sustain our space and grow our impact."
preloadImg: "/assets/images/logo/NCC-logo.jpeg"
tags: "sitemap"
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-229">
        <div class="mw-container">
            <div class="mw-flex-group">
                <span class="mw-topper mw-hero-badge">Grassroots</span>
                <h1 class="mw-title"><span class="mw-color">Ntirhisano</span> Community Centre<br></h1>
                <p class="mw-text">It is a grassroots community centre supporting marginalised communities through art, education, and political organising. Help us sustain our space and grow our impact.<br></p>
                <p class="mw-text">
                    <a href="/contact/#contact-form" class="mw-button-solid mw-button">Join the Community</a>
                    <a href="https://ntirhisano167861317.wordpress.com/" class="mw-button-solid-two mw-button">
                        Explore Our Stories
                    </a>
                </div>
            </div>
        </div>

        <!-- Background Image -->
<!-- <iframe class="mw-picture" width="560" height="315" src="https://www.youtube.com/embed/osG3PmQG5io?autoplay=1&mute=1&loop=1&playlist=osG3PmQG5io" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
 <picture class="mw-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/ncc3.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/ncc3.webp">
            <img loading="lazy" decoding="async" src="/assets/images/ncc3.webp" alt="kids-playing" width="100%" height="1280" aria-hidden="true">
        </picture>
       
    </section>
 
    <!-- ============================================ -->
    <!--                  Our Beliefs                    -->
    <!-- ============================================ -->

    <section id="services-690">
        <div class="mw-container" id="beliefs">
            <div class="mw-content">
                <div class="mw-flex-group">
                    <span class="mw-topper"></span>
                    <h2 class="mw-title">Our <span class="mw-color">Beliefs</span> </h2>
                </div>
                <p class="mw-text">
                   This is a community-run centre dedicated to creating a safe, accessible, and empowering space for local communities. Based in Salt River, Cape Town, we believe in mutual aid, collective learning, and radical inclusion. 
                    <br>
                   Our doors are open to all who seek connection, creativity, and liberation.

                </p>
            </div>
            <ul class="mw-card-group">
                <li class="mw-item">
                    <a href="javascript:void(0);" class="mw-link">
                        <h3 class="mw-h3">Radical Inclusion</h3>
                        <p class="mw-item-text">
                            Once the park is rezoned and developed, it will be nearly impossible to reclaim this vital greenspace for future generations.
                        </p>
                    </a>
                </li>
                <li class="mw-item">
                    <a href="javascript:void(0);" class="mw-link">
                        <h3 class="mw-h3">Mutual Aid</h3>
                        <p class="mw-item-text">
                            Loss of our only park means loss of space for exercise, play, and mental health benefits that greenspaces provide.
                        </p>
                    </a>
                </li>
                <li class="mw-item">
                    <a href="javascript:void(0);" class="mw-link">
                        <h3 class="mw-h3">Collective Learning</h3>
                        <p class="mw-item-text">
                            This decision was made without meaningful engagement with the Salt River community who depend on this park daily.
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             About NCC      -->
    <!-- ============================================ -->

    <section id="sbsr-1363">
        <div class="mw-container" id="about-ncc">
            <div class="mw-image-group">
                <picture class="mw-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/ncc5.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/ncc5.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/ncc5.webp" alt="people" width="605868" height="690">
                </picture>
                <!--<div class="mw-box">
                    <span class="mw-desc">
                        
                    </span>
                </div>-->
            </div>
            <div class="mw-content">
                <span class="mw-topper"></span>
                <h2 class="mw-title">About <span class="mw-color">N</span>CC</h2>
                <p class="mw-text">
                   Established in 2022, Ntirhisano Community Centre (NCC) has been participating in activities with grassroots communities and cultivating mutual aid principles that embrace self-reliance and offer alternatives to electoral politics. We are based in the Salt River community in Cape Town South Africa, and we also work with struggles in the broader Cape Town area, seeking to link the different struggles and to form connections and solidarities between movements which can otherwise be insular. We are also forming connections with similar spaces and organisations in South Africa as well as internationally too.
                </p>
                <ul class="mw-card-group">
                    <li class="mw-item">
                        <h3 class="mw-h3">
                            To Share
                        </h3>
                        <p class="mw-item-text">
                            A shared space that builds connection, belonging, and social cohesion.
                        </p>
                    </li>
                    <li class="mw-item">
                        <h3 class="mw-h3">
                            Safe Space for the youth
                        </h3>
                        <p class="mw-item-text">
                            A rare, safe place for the youth to share, learn, and socialise.
                        </p>
                    </li>
                </ul>
                <a href="/#what-we-do" class="mw-button-solid">Learn More</a>
            </div>
        </div>
        <div class="mw-bubbles" aria-hidden="true"></div>
    </section>
                                                          

    <!-- ============================================ -->
    <!--                   What we do               -->
    <!-- ============================================ -->
    <section id="services-1188">
        <div class="mw-container" id="what-we-do">
            <div class="mw-content">
                <span class="mw-topper"></span>
                <h2 class="mw-title">What <span class="mw-color">We</span> Do</h2>
                <p class="mw-text">
                    At NCC, we run a wide range of programs that respond directly to the needs of our community:
                </p>
            </div>
            <ul class="mw-card-group">
                <li class="mw-item">
                    <!-- <picture class="mw-picture">
                        <img class="mw-icon"
                                src="/assets/svgs/hand.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture> -->
                    <!-- Text Grouped For Flexbox-->
                    <div class="mw-text-group">
                        <h2 class="mw-h2">Free public Wi-Fi access</h2>
                        <p class="mw-item-text">Because digital access is a basic need.</p>
                    </div>
                </li>
                <li class="mw-item">
                    <!-- <picture class="mw-picture">
                        <img class="mw-icon" src="/assets/svgs/map.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture> -->
                    <!-- Text Grouped For Flexbox-->
                    <div class="mw-text-group">
                        <h2 class="mw-h2">Cowhide Open Mic & Poetry</h2>
                        <p class="mw-item-text">A recurring arts event platforming marginalised artists – a space where stories, struggles, and resistance take centre stage.</p>
                    </div>
                </li>
                <li class="mw-item">
                    <!-- <picture class="mw-picture">
                        <img class="mw-icon"
                                src="/assets/svgs/pine.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture> -->
                    <!-- Text Grouped For Flexbox-->
                    <div class="mw-text-group">
                        <h2 class="mw-h2">Radical Film Screening</h2>
                        <p class="mw-item-text">Curated political films followed by open discussions – creating space to imagine and debate for a different world.</p>
                    </div>
                </li>
                <li class="mw-item">
                    <!-- <picture class="mw-picture">
                        <img class="mw-icon"
                                src="/assets/svgs/chat-bubbles.svg" loading="lazy"
                                decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture> -->
                    <!-- Text Grouped For Flexbox-->
                    <div class="mw-text-group">
                        <h2 class="mw-h2">Gate 7</h2>
                        <p class="mw-item-text">Support for young families and children, building community care from the ground up.</p>
                    </div>
                </li>
                <li class="mw-item">
                    <!-- <picture class="mw-picture">
                        <img class="mw-icon"
                                src="/assets/svgs/chat-bubbles.svg" loading="lazy"
                                decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture> -->
                    <!-- Text Grouped For Flexbox-->
                    <div class="mw-text-group">
                        <h2 class="mw-h2">English language classes</h2>
                        <p class="mw-item-text">Especially important for migrant and refugee communities navigating daily life and bureaucracy.</p>
                    </div>
                </li>
                <li class="mw-item">
                    <!-- <picture class="mw-picture">
                        <img class="mw-icon"
                                src="/assets/svgs/chat-bubbles.svg" loading="lazy"
                                decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture> -->
                    <!-- Text Grouped For Flexbox-->
                    <div class="mw-text-group">
                        <h2 class="mw-h2">Responsive programming </h2>
                        <p class="mw-item-text">We host community-led events, workshops, and gatherings as needs arise – from tenants’ rights meetings to healing circles.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    
    <!-- ============================================ -->
    <!--                  Voices of NCC                   -->
    <!-- ============================================ -->

    <!-- <section id="reviews-355">
        <div class="mw-container">
            <div class="mw-content">
                <span class="mw-topper"></span>
                <h2 class="mw-title">Voices of <span class="mw-color">N</span>CC</h2>
                <p class="mw-text">
                    At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
                </p>
            </div>
            <ul class="mw-card-group">
                <li class="mw-item">
                    <img class="mw-quote" aria-hidden="true" src="/assets/svgs/quote-red.svg" decoding="async" alt="quote icon" width="40" height="33">
                    <p class="mw-review">
                        "My children play at Spencer Road Park every day after school. It's the only safe outdoor space we have. Taking it away would devastate our community. 
                    </p>
                    <span class="mw-name">Phillip Mzamani</span>
                    <span class="mw-job">GRC</span>
                </li>
                <li class="mw-item">
                    <img class="mw-quote" aria-hidden="true" src="/assets/svgs/quote-red.svg" decoding="async" alt="quote icon" width="40" height="33">
                    <p class="mw-review">
                        I've lived in Salt River for 40 years. This park is where we gather, where we celebrate, where we breathe. We cannot lose this.
                    </p>
                    <span class="mw-name">Zahra</span>
                    <span class="mw-job">NCC Radical Film Screening</span>
                </li>
                <li class="mw-item">
                    <img class="mw-quote" aria-hidden="true" src="/assets/svgs/quote-red.svg" decoding="async" alt="quote icon" width="40" height="33">
                    <p class="mw-review">
                        As someone who was displaced from District 6, I know what it means to lose your community spaces. We must fight to keep Spencer Road Park.
                    </p>
                    <span class="mw-name">Princess Daniella</span>
                    <span class="mw-job">Chowhide: Open Mic & Poetry</span>
                </li>
            </ul>
        </div>
    </section> -->

                                

    
    <!-- ============================================ -->
    <!--                     CTA                      -->
    <!-- ============================================ -->

    <section id="cta-51">
        <div class="mw-container">
            <div class="mw-content">
                <span class="mw-topper" id="support"></span>
                <h2 class="mw-title">We <span class="mw-color">Need</span> Your <span class="mw-color">Support</span></h2>
                <p class="mw-text">
                    We operate on a shoestring budget, with no government strings attached. This independence is crucial for protecting the integrity of our work and the safety of our communities.
                </p>
                <h6 class="mw-text">Your support helps us:</h3>
                <div class="mw-text">
                    <a href="https://www.backabuddy.co.za/campaign/keep-ntirhisano-community-centre-alive?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAZXh0bgNhZW0CMTEAc3J0YwZhcHBfaWQMMjU2MjgxMDQwNTU4AAGnLQmucoKbGjoY_JlzVoHOxnhjPktKbI9wlTjWvhlxkyb_V5vY_2lb_5VIY54_aem_dfbhNPcD83-kObcxZ9fUjg" class="mw-button-solid">BackaBuddy</a>
                    <a href="https://www.patreon.com/ntirhisano/about?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAZXh0bgNhZW0CMTEAc3J0YwZhcHBfaWQMMjU2MjgxMDQwNTU4AAGnfvcXtcUsWQLBNKyTYJym1oRz5JQPqjCN_Z5fKqHh1vEQUsBS6AbL_-UT87g_aem_lIrSDcd6iFPrdfMu285obA" class="mw-button-solid">Patreon</a>
                </div>
            </div>
        </div>
        <!-- Background Image-->
        <picture class="mw-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/ncc1.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/ncc1.webp">
            <img loading="lazy" decoding="async" src="/assets/images/ncc1.webp" alt="kids-playing" width="1920" height="1280" aria-hidden="true">
        </picture>
    </section>


    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <!--<section id="RPsbs-313">
        <div class="mw-container">
            <!-- Left Image Section 
            <div class="mw-image-group">
                <picture class="mw-picture mw-picture1">
                    <!--Mobile Image
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 482, height: 536 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 482, height: 536 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 482, height: 536 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 802, height: 892 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 802, height: 892 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 802, height: 892 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1044, height: 1162 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1044, height: 1162 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1044, height: 1162 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1044, height: 1162 }) | jpeg %}" alt="lawyers" width="522" height="581" loading="lazy" decoding="async">
                </picture>
                <picture class="mw-picture mw-picture2">
                    <!--Mobile Image
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/construction.jpg" | resize({ width: 366, height: 354 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/construction.jpg" | resize({ width: 366, height: 354 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/construction.jpg" | resize({ width: 366, height: 354 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/construction.jpg" | resize({ width: 600, height: 578 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/construction.jpg" | resize({ width: 600, height: 578 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/construction.jpg" | resize({ width: 600, height: 578 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/construction.jpg" | resize({ width: 780, height: 752 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/construction.jpg" | resize({ width: 780, height: 752 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/construction.jpg" | resize({ width: 780, height: 752 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/construction.jpg" | resize({ width: 780, height: 752 }) | jpeg %}" alt="gavel" width="390" height="376" loading="lazy" decoding="async">
                </picture>
            </div>-->
            <!-- Right Content Section
            <div class="mw-content">
                <span class="mw-topper">About Us</span>
                <h2 class="mw-title">
                    About Stitch Law
                </h2>
                <p class="mw-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <div class="mw-quote">
                    <span class="mw-quote-text">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </span>
                    <span class="mw-name">Justin Time</span>
                    <span class="mw-job">CEO-Founder</span>
                    <img class="mw-quote-icon" loading="lazy" decoding="async" src="/assets/svgs/quote.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/about/" class="mw-button-solid">About Us</a>
            </div>
        </div>
    </section>-->

    <!-- ============================================ -->
    <!--                 Take Action Today                   -->
    <!-- ============================================ -->

    <!-- <section id="services-218">
        <div class="mw-container" id="get-involved">
            <div class="mw-content">
                <span class="mw-topper"></span>
                <h2 class="mw-title">Take Action Today</h2>
                <p class="mw-text">
                    Every voice counts. Here's how you can help protect Spencer Road Park and ensure community voices are heard.
                </p>
            </div>
            <ul class="mw-card-group">
                <li class="mw-item">
                    <img class="mw-icon mw-picture" loading="lazy" decoding="async" src="/assets/images/sign-now.png" alt="icon" width="77" height="77">
                    <h3 class="mw-h3">Sign the Petition</h3>
                    <p class="mw-item-text">
                        Add your name to our growing list of supporters demanding action.
                    </p>
                    <br>
                    <a href="/contact/#petition-form" class="mw-button-solid">Sign Now</a>
                </li>
                <li class="mw-item">
                    <img class="mw-icon mw-picture" loading="lazy" decoding="async" src="/assets/images/community.png" alt="icon" width="77" height="77">
                    <h3 class="mw-h3">Attend Community Meeting</h3>
                    <p class="mw-item-text">
                        Join us at our next community meeting to discuss strategy and show solidar
                    </p>
                    <br>
                    <a href="/contact/" class="mw-button-solid">Get Details</a>
                </li>
                <li class="mw-item">
                    <img class="mw-icon mw-picture" loading="lazy" decoding="async" src="/assets/images/phone-call.png" alt="icon" width="77" height="77">
                    <h3 class="mw-h3">Contact Officials</h3>
                    <p class="mw-item-text">
                        Write to your ward councillor and city officials to express your opposition.
                    </p>
                    <br>
                    <a href="mailto:{{ client.email }}" class="mw-button-solid">Take Action</a>
                </li>
                <li class="mw-item ">
                    <img class="mw-icon mw-picture" loading="lazy" decoding="async" src="/assets/images/spread-the-word.png" alt="icon" width="77" height="77">
                    <h3 class="mw-h3">Spread the Word</h3>
                    <p class="mw-item-text">
                        Share our campaign on social media and with your network.
                    </p>
                    <br>
                    <a href="https://www.facebook.com/people/Spencer-Park/pfbid02FMySvRUyiTxF1p6d7JNGv5wNMjKqqCTkvxboQrvKYG14N3JpmYPNqskuwws6ABATl" class="mw-button-solid">Share Now</a>
                </li>
            </ul>
        </div>
    </section>
                                 -->
                                


    
{% endblock %}